@import 'tailwindcss';

@keyframes floatY {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
}

@keyframes floatX {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200px);
  }
}

@utility icon-small {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-secondary-500);
}

@theme {
  --color-primary-900: var(--primary-900);
  --color-primary-700: var(--primary-700);
  --color-primary-500: var(--primary-500);
  --color-primary-300: var(--primary-300);
  --color-primary-100: var(--primary-100);

  --color-secondary-900: var(--secondary-900);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-100: var(--secondary-100);

  --color-black: var(--black);
  --color-danger: var(--danger);
  --color-success: var(--success);

  --font-family-iran: 'Yekan Bakh', system-ui, -apple-system, sans-serif;
  --font-family-system: system-ui, -apple-system, sans-serif;

  --animate-floatY: floatY 40s ease-in-out infinite;
  --animate-floatX: floatX 30s ease-in-out infinite;

  --spacing-15: 3.75rem;
  --spacing-66: 16.5rem;
  --spacing-70: 17.5rem;
  --spacing-100: 25rem;
}

:root {
  --primary-900: #78350f;  
--primary-700: #b45309;  
--primary-500: #d97706;  
--primary-300: #fbbf24; 
--primary-100: #fef3c7;


  --secondary-900: #0f172a; 
--secondary-700: #334155;
--secondary-500: #64748b; 
--secondary-300: #cbd5e1;
--secondary-100: #f1f5f9;

  --black: #1e1e1e;
  --danger: #be123c;
  --success: #047857;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-900);
  background-color: var(--primary-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  direction: rtl;
  height: 100%;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  background-color: inherit;
}
